<script lang="ts">
  interface currentTime {
    duration: number
    percent: number
    seconds: number
  }

	import Player from '@vimeo/player'
	import { onMount, createEventDispatcher } from 'svelte'

	const emit = createEventDispatcher()

	export let options: {[key: string]: string | number | boolean}

	let playerDiv: HTMLDivElement
  let player: Player
  let currentDuration = 0

	const playerSetup = () => {
		player.on('loaded', (id: string) => emit("loaded", id))
		player.on('durationchange', (duration: number) => {
      currentDuration = duration
      emit("durationchange", duration)
    })
		player.on('bufferstart', () => emit("bufferstart"))
		player.on('bufferend', () => emit("bufferend"))
		player.on('progress', (data: currentTime) => emit("progress", data))
		player.on('play', () => emit("play"))
		player.on('playing', () => emit("playing"))
		player.on('pause', () => emit("pause"))
		player.on('timeupdate', (data: currentTime) => emit("timeupdate", data))
		player.on('ended', () => emit("ended"))
    player.on('error', (e: Error) => {
      if(e.name = 'NotAllowedError') emit("notAllowed")
    })
	}

  const keybordShortcutManager = (code: string) => {
    if (code === "Space") togglePlay()
    else if (code === "ArrowRight") scrub(5)
    else if (code === "ArrowLeft") scrub(-5)
  }

	export const play = () => {
		player.play()
	}

	export const pause = () => {
		player.pause()
	}

	export const togglePlay = () => {
		player.getPaused().then((paused: boolean) => {
			if(paused) play()
			else pause()
		})
	}

  const scrub = (timeSpan: number) => {
    player.getCurrentTime().then(time => {
      const newTime = time + timeSpan < 0 ? 0 : time + timeSpan > currentDuration ? currentDuration : time + timeSpan;
      player.setCurrentTime(newTime)
    })
  }

	export const getPlayer = () => player

	onMount(() => {
		player = new Player(playerDiv, options)
		player.ready().then(() => {
      playerSetup()
      document.addEventListener('keyup', (e) => keybordShortcutManager(e.code))
    })

    return () => {
      document.removeEventListener('keyup', (e) => keybordShortcutManager(e.code))
      player.unload()
    }
	})

</script>

<div on:click={togglePlay}>
  <div
    id="player"
    bind:this={playerDiv} >
  </div>
</div>

<style lang="postcss">
#player {
  @apply absolute top-1/2 left-1/2 aspect-video min-w-full min-h-full pointer-events-none;
}

:global(iframe) {
  transform: translate3d(-50%, -50%, 0);
}
</style>