<script lang="ts" context="module">
  import type { Load } from "@sveltejs/kit"

  export const load: Load = async ({ params }) => {
      return { props: { params: params.video } }
  }
</script>

<script lang="ts">
  import type Player from "@vimeo/player"
  import type { Section } from '../../types/dataTypes'
	import { onMount } from 'svelte'
  import { selectedPaths } from "../../store/store"
	import VimeoAPI from '../../lib/VimeoAPI.svelte'
	import PlayerControls from '../../components/PlayerControls.svelte'
  import mainData from '../../data/mainData'

  export let params: string

  let video: VimeoAPI, player: Player

  const currentPath = mainData.pathList.filter(path => path.type === params)[0]
  const questionList = mainData.sectionList[currentPath.type]

  let paused = true
  let updated = true
  let restartScreen = false
  let currentTime = 0
  let currentSection = questionList[0]
  let questions = [] as Section[]

  const options = {
		id: currentPath.videoId,
		byline: false,
		controls: false,
		title: false,
		playsinline: true,
		responsive: true
	}

  const timecodeToSeconds = (timecode: string) => {
    const timeArray = timecode.split(':')
    const hours   = (parseInt(timeArray[0]) - 1) * 60 * 60
    const minutes = parseInt(timeArray[1]) * 60
    const seconds = parseInt(timeArray[2])
    const frames  = parseInt(timeArray[3])*(1/30)
    return hours + minutes + seconds + frames
  }

  const togglePlay = () => video.togglePlay()
  const pause = () => video.pause()
  const play = () => video.play()
  const timeUpdate = (time: CustomEvent) =>	currentTime = time.detail.seconds
	const seekTo = (time: CustomEvent) => {
    updated = false
    const newTime = timecodeToSeconds(currentSection.time[0])
    player.setCurrentTime(newTime + time.detail).then(() => {
      updated = true
      play()
    })
  }

  const updateSection = (newSection: CustomEvent) => {
    currentSection = questionList.filter(a=>a.id === parseInt(newSection.detail))[0]
    $selectedPaths[params].push(parseInt(newSection.detail))
    updateSectionTime()
    updateQuestions()
  }
  const updateSectionTime = () => {
    const newTime = timecodeToSeconds(currentSection.time[0])
    player.setCurrentTime(newTime).then(() => {
      currentTime = newTime
      play()
    })
  }
  const updateQuestions = () => {
    questions = []
    let newQuestions = [] as number[]
    currentSection.questions.forEach(a => {
      const filteredQuestions = a.filter(b=>$selectedPaths[params].indexOf(b) === -1)
      if(filteredQuestions.length > 0) newQuestions.push(filteredQuestions[0])
    })
    newQuestions = newQuestions.slice(0, 3)
    newQuestions.forEach(q=>{
      questions.push(questionList.filter(a => a.id === q)[0])
    })
    if(questions.length < 3) questions.push(questionList.slice(-1)[0])
  }

  $: sectionDuration = timecodeToSeconds(currentSection.time[1]) - timecodeToSeconds(currentSection.time[0])
  $: sectionTime = currentTime - timecodeToSeconds(currentSection.time[0])

	onMount(() => {
    player = video.getPlayer()
    if(!(params in $selectedPaths)) $selectedPaths[params] = [currentSection.id]
    else restartScreen = true
    updateQuestions()
    if(!restartScreen) play()
  })

</script>

<div
  class={[
    currentPath.color,
    'relative w-full h-full overflow-hidden'
    ].join(' ')}>
  <VimeoAPI
		options={options}
		bind:this={video}
		on:timeupdate={timeUpdate}
		on:play={() => paused = false}
		on:pause={() => paused = true}
    on:bufferstart={() => buffering = true}
    on:bufferend={() => buffering = false}
    on:playing={() => buffering = false}
    on:notAllowed={() => notAllowed = true}
		/>
	<PlayerControls
		paused={paused}
    updated={updated}
		currentTime={sectionTime}
		duration={sectionDuration}
		on:togglePlay={togglePlay}
		on:seekTo={seekTo}
    on:ended={pause}
		/>
    <ol class="absolute top-0 left-16 m-5 p-5 bg-white max-h-screen overflow-y-auto z-50">
      <li><u>{currentSection.title}</u></li>
      {#each currentSection.questions as questionGroup}
        <li>
          <ul class="py-2">
            {#each questionGroup as question}
              <li>{questionList[question - 1].id} - {questionList[question - 1].title}</li>
            {/each}
          </ul>
        </li>
      {/each}
    </ol>
    <ol class="absolute top-32 right-0 m-5 p-5 bg-white max-h-[45rem] overflow-y-auto z-30">
      {#each questionList as question}
        <li>
          <button class="text-left" on:click={() => updateSection(new CustomEvent("updateSection", {detail: question.id}))}>{question.id} - {question.title}</button>
        </li>
      {/each}
    </ol>
    <div class="absolute top-0 right-0">
      <button class="m-5 p-3 bg-white" on:click={() => updateSection(new CustomEvent("updateSection", {detail: currentSection.id - 1}))}>prev</button>
      <span class="m-5 p-3 bg-white">{currentSection.id}</span>
      <button class="m-5 p-3 bg-white" on:click={() => updateSection(new CustomEvent("updateSection", {detail: currentSection.id + 1}))}>next</button>
    </div>
</div>
