<script lang="ts" context="module">
  import type { Load } from "@sveltejs/kit"
  import paths from '../data/paths'

  export const load: Load = async ({ url }) => {
    return { props: { key: url.pathname } }
  }
</script>

<script lang="ts">
  import PageTransition from '../components/PageTransition.svelte'
  import MenuIcon from "../components/MenuIcon.svelte"
	import '../app.css'

  export let key: string
</script>

<svelte:head>
  {#each paths as path}
    <link rel="prefetch" as="image" href={`./assets/${path.type}.jpg`} />
  {/each}
</svelte:head>

<div class="fixed w-full h-full">
  <nav class="absolute top-0 left-0 z-50">
    <MenuIcon />
  </nav>

  <main class="w-full h-full">
    <PageTransition refresh={key}>
      <slot />
    </PageTransition>
  </main>
</div>

<style global lang="postcss">
  #svelte {
    @apply relative w-screen h-screen text-slate-700 overflow-hidden;
  }

  /* Colors */
  .amber { @apply text-amber-600; }
  .amber button:hover { @apply text-amber-800; }

  .green { @apply text-lime-600; }
  .green button:hover { @apply text-lime-800; }

  .pink { @apply text-pink-600; }
  .pink button:hover { @apply text-pink-800; }

  .red { @apply text-red-500; }
  .red button:hover { @apply text-red-700; }

  .rose { @apply text-rose-700; }
  .rose button:hover { @apply text-rose-800; }

  .sky { @apply text-sky-500; }
  .sky button:hover { @apply text-sky-700; }

  .slate { @apply text-slate-700; }
  .slate button:hover { @apply text-slate-900; }

  .stone { @apply text-blue-500; }
  .stone button:hover { @apply text-blue-700; }
</style>
