<script lang="ts">
  import CloseButton from "../components/CloseButton.svelte";
</script>

<div class="overflow-y-auto flex flex-col w-full h-full bg-stone-200">
  <div class="w-full max-w-3xl mx-auto p-3 flex flex-col items-center">
    <CloseButton />

    <img class="w-52 pb-12 py-56" src="img/logo.svg" alt="Raízes Urbanas" />

    <div class="pt-3 pb-0 px-8 md:mt-24 md:text-center">

      <p class="pb-20 text-stone-400">Em memória de Jerede Figueiredo Gomes.</p>

      <h1>Sobre</h1>
      <p>Raízes Urbanas é uma obra interativa, que visita São Bernardo do Campo através de seus ilustres habitantes, contando histórias e memórias que se fundem com a própria cidade.</p>

      <p>Num primeiro ciclo de conversas, buscamos mapear manifestações musicais da região em conversas com seus principais organizadores:</p>

      <ol>
        <li>Mãe Luizinha de Nanã – Asé Batistini </li>
        <li>Pedro Baldoíno e Jerede Figueiredo Gomes – Folia de Reis Baeta Neves</li>
        <li>Gracinda Silva – Bloco de Afoxé Omo Aiye Sele</li>
        <li>Ditinho da Congada –  Grupo de Congada do Parque São Bernardo</li>
        <li>Leandro de Abreu – Orquestra de Viola Caipira de São Bernardo</li>
        <li>Luiz Marotti – Quadrilha Junina do Alameda Glória</li>
        <li>Cibele Matheus – Bloco Maria Fuá</li>
        <li>Washington Arantes – Escola de Samba União das Vilas</li>
      </ol>

      <p>Esses registros, realizados durante a epidemia de COVID no ano de 2021, buscam organizar um acervo de memórias locais, partindo das narrativas orais, dado seu modo privilegiado de transmitir conhecimentos e construir identidade.</p>
      <p>É um trabalho que se inspira e propõe mais uma contribuição ao belo trabalho dos memorialistas e historiadores que narram a rica história de São Bernardo do Campo e, em certo sentido, também do ABC Paulista.</p>

      <h1>Quem somos?</h1>

      <ol>
        <li>Eduardo Liron – Direção e programação</li>
        <li>Julia Moro e Amanda Rondina – Produção</li>
        <li>Bruno Lottelli – Edição</li>
        <li>Renan Vasconcelos – Mix de Som</li>
      </ol>

      <h1>Agradecimentos</h1>

      <ol>
        <li>Ademir Medici</li>
        <li>Ana Célia Martins</li>
        <li>Caio Gonçalves Dias</li>
        <li>Camila Matos</li>
        <li>Denise Puertas de Araújo</li>
        <li>Diogo Rios</li>
        <li>Edgar Zanella Alvarenga</li>
        <li>Elena Volpato</li>
        <li>Evelyn Gomes</li>
        <li>Frederico Moreira</li>
        <li>Gerson Marotti</li>
        <li>Glauber Xavier</li>
        <li>Graziela Pachedo</li>
        <li>José da Silva Lemes</li>
        <li>Maria Telma Vieira de Oliveira Mondoni</li>
        <li>Milene Valentir</li>
        <li>Neusa Borges</li>
        <li>Vanessa Soares</li>
        <li>Vinícius Noronha</li>
        <li>Centro de Memória de São Bernardo do Campo</li>
      </ol>

      <p class="my-20">Este trabalho foi realizado em código aberto e pode ser acessado pelo <a class="text-red-900 hover:text-red-700" target="_blank" href="https://gitlab.com/graofilmes/interacoes_sbc/">repositório público no GitLab</a>.</p>

      <h1>Realização</h1>
    </div>

    <div class="flex h-32 mt-5 md:mb-10 md:px-8 justify-between">
      <a href="https://graofilmes.com.br" target="_blank" class="mr-3 flex-1 flex items-center">
        <img src="img/grao.png" alt="Grão Filmes" class="max-h-full max-w-full">
      </a>
      <a href="https://casadeabelhacultural.com" target="_blank" class="mx-3 flex-1 flex items-center">
        <img src="img/cac.png" alt="Casa de Abelha Cultural" class="max-h-full max-w-full">
      </a>
    </div>
    <img class="max-w-full mt-2 md:px-8 md:pb-5" src="img/regua_traco.png" alt="Este Projeto foi realizado utilizando recursos da Lei Federal No 14.017, de 29 de junho de 2020 – Lei Aldir Blanc" />
  </div>
</div>

<style lang="postcss">
  h1 {
    @apply text-5xl break-normal;
  }

  p,
  ol {
    @apply pt-3;
  }

  li {
    @apply pl-3 pt-2;
  }

  h1 {
    @apply pt-10;
  }
</style>
