<script lang="ts">
  import { onMount } from 'svelte'
  import { goto } from '$app/navigation'
  import { fly } from 'svelte/transition'
  import { cubicInOut } from 'svelte/easing'

  import data from '../data/mainData'
  import Bubble from '../components/Bubble.svelte'

  let slider: HTMLDivElement
  let currentPath = 0
  let direction = 1
  let animate = true
  let menu = false

  function changePath (direction: 'next' | 'prev') {
    direction === 'next' ? nextPath() : prevPath()
    animationStop()
  }

  function gotoPath (path: number) {
    currentPath = path
    animationStop()
    menu=false
  }

  function nextPath () {
    direction = 1
    currentPath = currentPath < data.pathList.length - 1 ? currentPath + 1 : 0
  }

  function prevPath () {
    direction = -1
    currentPath = currentPath > 0 ? currentPath - 1 : data.pathList.length - 1
  }

  let slideAnimationFrame = 0

  function animationPlay(timestamp: number) {
    if(animate) {
      if (slideAnimationFrame === 0) slideAnimationFrame = timestamp
      const elapsed = timestamp - slideAnimationFrame;
      if(elapsed >= 6000) {
        slideAnimationFrame = timestamp
        nextPath()
      }
      window.requestAnimationFrame(animationPlay)
    }
  }

  function animationStop() {
    animate = false
  }

  function slide(node: HTMLElement, { out = 1, duration = 0 }) {
		return {
			duration,
      out,
			css: (t: number) => {
        const eased = cubicInOut(t)
        const direct = out * direction
        return `transform: translateX(${direct * (eased * 100 - 100)}%)`
      }
		}
	}

  onMount(async () => {
    await import('hammerjs')
      .then((Hammer) => {
        const hammer = new Hammer.default(slider)
        hammer.get('swipe')
        hammer.on('swipe', (ev) => animationStop())
        hammer.on('swipeleft', () => prevPath())
        hammer.on('swiperight', () => nextPath())
        window.requestAnimationFrame(animationPlay)
      })
  })
</script>

<div class="absolute top-0 right-0 h-full z-40">
  <button class="absolute top-4 right-4" on:click={() => menu = !menu}>
    <div class="{['menu-icon', data.pathList[currentPath].color].join(' ')}" class:active={menu}>
      <span class="bar1"></span>
      <span class="bar2"></span>
      <span class="bar3"></span>
    </div>
  </button>
  {#if menu}
    <div
      transition:fly={{opacity: 0, easing: cubicInOut}}
      on:click={() => menu = false}
      class="w-screen flex flex-col h-full bg-black bg-opacity-50">
      <div class="grow"></div>
      {#each data.pathList as path, i}
        {#if menu}
          <div
            transition:fly={{x: 500, opacity: 0, delay: i * 100, easing: cubicInOut}}
            class="{path.color + ' relative grow flex p-2'}">
            <div
              class="absolute right-8 bottom-0 w-[90vw] flex justify-end">
              <Bubble right on:activated={() => gotoPath(i)}>
                <h2 class="text-slate-700 text-sm sm:text-base md:text-lg">{@html path.group}</h2>
              </Bubble>
            </div>
          </div>
        {/if}
      {/each}
      <div class="md:grow"></div>
    </div>
  {/if}
</div>

<div
  bind:this={slider}
  class="relative h-full w-full overflow-hidden">

  {#each data.pathList as path, index}
    {#if currentPath === index}
      <div
        in:slide|local="{{ duration: 750 }}"
        out:slide|local="{{ out: -1, duration: 750 }}"
        style={'background-image: url("./assets/' + path.type + '.jpg")'}
        class={[path.color,
          'absolute w-full h-full',
          'py-6 px-4 md:px-16 text-right',
          'bg-no-repeat bg-cover bg-center',
          'flex items-end justify-center'].join(' ')}>
        <Bubble top on:activated={() => goto('/video/' + path.route)}>
          <h1 class="mt-auto flex flex-wrap justify-center text-4xl lg:text-6xl xl:text-8xl">
            {@html path.name}
          </h1>
          <h2 class="text-slate-700 text-lg lg:text-xl xl:text-2xl">{@html path.group}</h2>
        </Bubble>

        <button class="absolute right-5 top-1/2 text-center p-2 rounded-full mt-auto hidden md:block" on:click={() => changePath('next')}>
          <svg style="width:24px;height:24px" viewBox="0 0 24 24">
            <path fill="currentColor" d="M8.59,16.58L13.17,12L8.59,7.41L10,6L16,12L10,18L8.59,16.58Z" />
          </svg>
        </button>
        <button class="absolute left-5 top-1/2 text-center p-2 rounded-full mt-auto hidden md:block" on:click={() => changePath('prev')}>
          <svg style="width:24px;height:24px" viewBox="0 0 24 24">
            <path fill="currentColor" d="M15.41,16.58L10.83,12L15.41,7.41L14,6L8,12L14,18L15.41,16.58Z" />
          </svg>
        </button>
      </div>
    {/if}
  {/each}

</div>


<style>
.menu-icon {
  padding: .5rem;
  display: block;
  float: left;
  cursor: pointer;
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}
.menu-icon span {
  display: block;
  width: 22px;
  height: 4px;
  background: currentColor;
  margin-bottom: 2px;
  border-radius: 1px;
  -webkit-transition: all 0.4s ease-out;
  -moz-transition: all 0.4s ease-out;
  -o-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
}
.menu-icon span.bar1 {
  margin-top: 2px;
}
.menu-icon:hover span {
  margin-bottom: 4px;
}
.menu-icon:hover span.bar1 {
  margin-top: 0px;
}
.menu-icon.active {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.menu-icon.active:hover span {
  margin-top: 2px;
  margin-bottom: 2px;
}
.menu-icon.active .bar1 {
  -webkit-transform: rotate(0deg) translateY(6px);
  -moz-transform: rotate(0deg) translateY(6px);
  -ms-transform: rotate(0deg) translateY(6px);
  -o-transform: rotate(0deg) translateY(6px);
  transform: rotate(0deg) translateY(6px);
}
.menu-icon.active .bar2 {
  opacity: 0;
}
.menu-icon.active .bar3 {
  -webkit-transform: rotate(-90deg) translateX(5px);
  -moz-transform: rotate(-90deg) translateX(5px);
  -ms-transform: rotate(-90deg) translateX(5px);
  -o-transform: rotate(-90deg) translateX(5px);
  transform: rotate(-90deg) translateX(5px);
}
</style>