<script lang="ts">
  import Bubble from "../components/Bubble.svelte"
  import { goto } from '$app/navigation'
</script>

<div class="h-full w-full flex flex-col  items-center justify-center bg-stone-200">

  <div class="my-auto h-full max-h-[32rem] flex flex-col items-center justify-around pt-10">
    <img class="w-52" src="/img/logo.svg" alt="Raízes urbanas" />
    <p class="max-w-xl text-center">Essa é uma experiência interativa.<br />Coloque seus fones de ouvido e se prepare para conhecer algumas figuras ilustres que marcam a história da cidade de São Bernardo do Campo.</p>
    <Bubble on:activated={() => goto('/home')}>
      começar
    </Bubble>
  </div>

  <footer class="max-w-xl mx-auto pb-10 flex flex-col">
    <p class="pl-3 pb-2 text-xs">Realização</p>
    <img src="/img/regua_traco.png" alt="Este Projeto foi realizado utilizando recursos da Lei Federal No 14.017, de 29 de junho de 2020 – Lei Aldir Blanc" />
  </footer>

</div>