<script lang="ts" context="module">
  import type { Load } from "@sveltejs/kit"

  export const load: Load = async ({ params }) => {
      return { props: { params: params.video } }
  }
</script>

<script lang="ts">
  import type Player from "@vimeo/player"
  import type { Section } from '../../types/dataTypes'
	import { onMount } from 'svelte'
  import { fade } from 'svelte/transition'
  import { goto } from '$app/navigation'
  import { selectedPaths } from "../../store/store"
	import VimeoAPI from '../../lib/VimeoAPI.svelte'
	import PlayerControls from '../../components/PlayerControls.svelte'
  import PlayerChapters from '../../components/PlayerChapters.svelte'
  import PlayerBufferSpinner from '../../components/PlayerBufferSpinner.svelte'
  import CloseButton from '../../components/CloseButton.svelte'
  import mainData from '../../data/mainData'

  export let params: string

  let video: VimeoAPI, player: Player

  const currentPath = mainData.pathList.filter(path => path.type === params)[0]
  const questionList = mainData.sectionList[currentPath.type]

  let paused = true
  let updated = true
  let buffering = true
  let restartScreen = false
  let notAllowed = false
  let currentTime = 0
  let totalDuration = 0
  let currentSection = questionList[0]
  let questions = [] as Section[]
  let canChangeQuestions = true

  const options = {
		id: currentPath.videoId,
		byline: false,
		controls: false,
		title: false,
		playsinline: true,
		responsive: true
	}

  const timecodeToSeconds = (timecode: string) => {
    const timeArray = timecode.split(':')
    const hours   = (parseInt(timeArray[0]) - 1) * 60 * 60
    const minutes = parseInt(timeArray[1]) * 60
    const seconds = parseInt(timeArray[2])
    const frames  = parseInt(timeArray[3])*(1/30)
    return hours + minutes + seconds + frames
  }

  const togglePlay = () => video.togglePlay()
  const pause = () => video.pause()
  const play = () => {
    if(canChangeQuestions) {
      updateQuestions()
      canChangeQuestions = false
    }
    video.play()
    player.getPaused().then(paused => { if(!paused) buffering = false })
  }
  const timeUpdate = (time: CustomEvent) =>	currentTime = time.detail.seconds
	const seekTo = (time: CustomEvent) => {
    updated = false
    const newTime = timecodeToSeconds(currentSection.time[0])
    player.setCurrentTime(newTime + time.detail).then(() => {
      updated = true
      play()
    })
  }

  const updateSection = (newSection: CustomEvent) => {
    currentSection = questionList.filter(a=>a.id === parseInt(newSection.detail))[0]
    $selectedPaths[params].push(parseInt(newSection.detail))
    updateSectionTime()
    buffering = true
    canChangeQuestions = true
  }

  const updateSectionTime = () => {
    const newTime = timecodeToSeconds(currentSection.time[0])
    player.setCurrentTime(newTime).then(() => {
      currentTime = newTime
      play()
    })
  }

  const updateQuestions = () => {
    window.setTimeout(() => {
      questions = []
      let newQuestions = [] as number[]
      currentSection.questions.forEach(a => {
        const filteredQuestions = a.filter(b=>$selectedPaths[params].indexOf(b) === -1)
        if(filteredQuestions.length > 0) newQuestions.push(filteredQuestions[0])
      })
      newQuestions = newQuestions.slice(0, 3)
      newQuestions.forEach(q=>{
        questions.push(questionList.filter(a => a.id === q)[0])
      })
      if(questions.length < 3) questions.push(questionList.slice(-1)[0])
    }, 500)
  }

  const restart = () => {
    $selectedPaths[params] = []
    updateSection(new CustomEvent("updateSection", {detail: 1}))
    restartScreen = false
    play()
  }

  $: endTime = currentSection.time[1] ? timecodeToSeconds(currentSection.time[1]) : totalDuration
  $: sectionDuration = endTime - timecodeToSeconds(currentSection.time[0])
  $: sectionTime = currentTime - timecodeToSeconds(currentSection.time[0])

	onMount(() => {
    player = video.getPlayer()
    player.getDuration()
      .then(res => totalDuration = res)
    if(!(params in $selectedPaths)) $selectedPaths[params] = [currentSection.id]
    else restartScreen = true
    updateQuestions()
    if(!restartScreen) play()
  })

</script>

<div
  class={[
    currentPath.color,
    'relative w-full h-full overflow-hidden'
    ].join(' ')}>
  <VimeoAPI
		options={options}
		bind:this={video}
		on:timeupdate={timeUpdate}
		on:play={() => paused = false}
		on:pause={() => paused = true}
    on:bufferstart={() => buffering = true}
    on:bufferend={() => buffering = false}
    on:playing={() => buffering = false}
    on:notAllowed={() => notAllowed = true}
    on:ended={() => goto('/home')}
		/>
	<PlayerControls
		paused={paused}
    updated={updated}
		currentTime={sectionTime}
		duration={sectionDuration}
		on:togglePlay={togglePlay}
		on:seekTo={seekTo}
    on:ended={pause}
		/>
  {#if paused}
  <div class="absolute w-full h-full top-0 flex flex-col items-center justify-center bg-slate-700/75" transition:fade={{duration: 150}}>
    <div class="absolute top-2 text-center w-40 md:w-full">
      <h1 class="mt-auto flex flex-wrap justify-center text-4xl lg:text-6xl xl:text-8xl">
        {@html currentPath.name}
      </h1>
      <h2 class="text-stone-200 text-xl lg:text2xl xl:text4xl">{@html currentPath.group}</h2>
    </div>
    {#if buffering}
      <PlayerBufferSpinner
        restartScreen={restartScreen}
        notAllowed={notAllowed}
        on:play={play}
        on:restart={restart}
      />
    {:else}
      <PlayerChapters
        on:updateSection={updateSection}
        showing={paused}
        questions={questions}
        questionList={questionList}
        viewedQuestions={$selectedPaths[params]}
        />
    {/if}
  </div>
  {/if}
  <CloseButton></CloseButton>
</div>
