<script lang="ts">
  import { createEventDispatcher } from 'svelte'

  const emit = createEventDispatcher()

  export let top = false
  export let right = false
</script>

<button
  class="speech-bubble flex items-center justify-center"
  class:top={top}
  class:right={right}
  on:click={() => emit('activated')}
  >
  <div class="bubble-shadow"></div>
  <div class="bubble-bg"></div>
  <div class="relative lg:p-2 z-20">
    <slot></slot>
  </div>
</button>

<style global lang="postcss">
.speech-bubble {
  @apply relative my-2 p-2 pl-4 rounded-full text-center;
}
.speech-bubble div {
  @apply w-full h-full;
}

.bubble-bg {
  @apply absolute rounded-full bg-white;
}

.bubble-shadow {
  @apply absolute rounded-full bg-current;

  transform: rotate(-2deg) translateY(10%);
}

.speech-bubble:hover .bubble-bg {
  @apply bg-slate-300;
}

.bubble-bg:after {
  @apply border-white;
}

.speech-bubble:hover .bubble-bg:after {
  @apply border-slate-300;
}
.bubble-shadow:after {
  @apply border-current;
}
.speech-bubble:hover .bubble-bg:after,
.speech-bubble:hover .bubble-shadow:after,
.bubble-bg:after,
.bubble-shadow:after {
  @apply absolute border-8 w-4 h-4 top-full;

  border-left-color: transparent;
  border-bottom-color: transparent;
  content: '';
}

.top:hover .bubble-bg:after,
.top:hover .bubble-shadow:after,
.top .bubble-bg:after,
.top .bubble-shadow:after {
  @apply top-auto bottom-full;

  border-left-color: inherit;
  border-right-color: transparent;
  border-bottom-color: inherit;
  border-top-color: transparent;
}

.right:hover .bubble-bg:after,
.right:hover .bubble-shadow:after,
.right .bubble-bg:after,
.right .bubble-shadow:after {
  @apply top-1/2 left-full transform -rotate-90 -translate-x-1/3;
}
</style>
