<div class="absolute right-0 p-2">
  <a sveltekit:prefetch href="/home">
    <div id="icon" class="Icon">
      <span></span>
      <span></span>
      <span></span>
    </div>
  </a>
</div>

<style>
  .Icon {
    width: 30px;
    height: 30px;
    position: relative;
    transform: rotate(0deg);
    transition: .5s ease-in-out;
    cursor: pointer;
  }

  .Icon span {
    display: block;
    position: absolute;
    left: 0;
    top: 10px;
    height: 6px;
    width: 100%;
    background: currentColor;
    border-radius: 4px;
    transform: rotate(0deg);
    transition: .2s ease-in-out;
  }

  .Icon span:nth-child(1),
  .Icon span:nth-child(3) {
    width: 50%;
    transform: rotate(45deg);
  }

  .Icon span:nth-child(1) {
    left: 3px;
    top: 5px;
  }

  .Icon span:nth-child(2) {
    transform: rotate(-45deg);
  }

  .Icon span:nth-child(3) {
    left: 14px;
    top: 15px;
  }

  .Icon:hover span:nth-child(1),
  .Icon:hover span:nth-child(3) {
      left: -1px;
  }

  .Icon:hover span:nth-child(1) {
    transform: rotate(135deg);
  }

  .Icon:hover span:nth-child(2) {
    transform: rotate(0deg);
  }

  .Icon:hover span:nth-child(3) {
    transform: rotate(45deg);
  }
  </style>