<script lang="ts">
	export let type = '';
	export let addClass = '';
</script>

<svg
	xmlns="http://www.w3.org/2000/svg"
	viewBox="0 0 24 24"
	width="auto"
	height="auto"
	fill="currentColor"
	preserveAspectRatio="true"
	class={addClass}
>
	{#if type === 'play'}
		<polygon points="5 3 19 12 5 21 5 3" />
	{:else if type === 'pause'}
		<rect x="6" y="4" width="4" height="16" /> <rect x="14" y="4" width="4" height="16" />
	{:else if type === 'restart'}
    <path d="M12,4C14.1,4 16.1,4.8 17.6,6.3C20.7,9.4 20.7,14.5 17.6,17.6C15.8,19.5 13.3,20.2 10.9,19.9L11.4,17.9C13.1,18.1 14.9,17.5 16.2,16.2C18.5,13.9 18.5,10.1 16.2,7.7C15.1,6.6 13.5,6 12,6V10.6L7,5.6L12,0.6V4M6.3,17.6C3.7,15 3.3,11 5.1,7.9L6.6,9.4C5.5,11.6 5.9,14.4 7.8,16.2C8.3,16.7 8.9,17.1 9.6,17.4L9,19.4C8,19 7.1,18.4 6.3,17.6Z" />
	{:else if type == 'loading'}
		<circle cx="18.76" cy="5.24" r="2.16" fill-opacity="1">
			<animate
				attributeName="fill-opacity"
				begin="0s"
				dur="1.3s"
				values="1;0.5;0.25;0;0;0;0.25;0.5"
				calcMode="linear"
				repeatCount="indefinite"
			/>
		</circle>
		<circle cx="21.56" cy="11.98" r="2.16" fill-opacity="0">
			<animate
				attributeName="fill-opacity"
				begin="0s"
				dur="1.3s"
				values="0.5;1;0.5;0.25;0;0;0;0.25"
				calcMode="linear"
				repeatCount="indefinite"
			/>
		</circle>
		<circle cx="18.76" cy="18.72" r="2.16" fill-opacity="0">
			<animate
				attributeName="fill-opacity"
				begin="0s"
				dur="1.3s"
				values="0.25;0.5;1;0.5;0.25;0;0;0"
				calcMode="linear"
				repeatCount="indefinite"
			/>
		</circle>
		<circle cx="12.02" cy="21.51" r="2.16" fill-opacity="0">
			<animate
				attributeName="fill-opacity"
				begin="0s"
				dur="1.3s"
				values="0;0.25;0.5;1;0.5;0.25;0;0"
				calcMode="linear"
				repeatCount="indefinite"
			/>
		</circle>
		<circle cx="5.28" cy="18.72" r="2.16" fill-opacity="0">
			<animate
				attributeName="fill-opacity"
				begin="0s"
				dur="1.3s"
				values="0;0;0.25;0.5;1;0.5;0;0.25"
				calcMode="linear"
				repeatCount="indefinite"
			/>
		</circle>
		<circle cx="2.49" cy="11.98" r="2.16" fill-opacity="0">
			<animate
				attributeName="fill-opacity"
				begin="0s"
				dur="1.3s"
				values="0.25;0;0;0;0.5;1;0.5;0.25"
				calcMode="linear"
				repeatCount="indefinite"
			/>
		</circle>
		<circle cx="5.28" cy="5.24" r="2.16" fill-opacity="0">
			<animate
				attributeName="fill-opacity"
				begin="0s"
				dur="1.3s"
				values="0.25;0;0;0;0.25;0.5;1;0.5"
				calcMode="linear"
				repeatCount="indefinite"
			/>
		</circle>
		<circle cx="12.02" cy="2.44" r="2.16" fill-opacity="0">
			<animate
				attributeName="fill-opacity"
				begin="0s"
				dur="1.3s"
				values="0.5;0.25;0;0;0;0.25;0.5;1"
				calcMode="linear"
				repeatCount="indefinite"
			/>
		</circle>
	{/if}
</svg>

<style lang="postcss">
	svg {
		@apply max-w-full max-h-full fill-current;
	}
</style>
