<script lang="ts">
  import { cubicInOut } from 'svelte/easing'
  import { fly } from 'svelte/transition'
  import { page } from '$app/stores'
  import mainData from '../data/mainData'

  let textOpen = false

  $: currentColor = $page.url.pathname.match(/video/) ? mainData.pathList.filter(path => path.type === $page.url.pathname.replace('/video/', ''))[0].color : ''

  const slide = (node: HTMLElement, { duration = 0 }) => {
		return {
			duration,
			css: (t: number) => {
        const eased = cubicInOut(t)
        return `transform: translateX(${eased * 100 - 100}%)`
      }
		}
	}
</script>

{#if $page.url.pathname !== '/' && $page.url.pathname !== '/about'}
  <a sveltekit:prefetch href="/about"
    class={[ currentColor,
      'max-w-[15rem] lg:max-w-md p-4 lg:p-10 flex h-32 lg:h-52 transition-colors duration-300']
      .join(' ')}
    on:mouseover={() => textOpen = true}
    on:focus={() => textOpen = true}
    on:mouseout={() => textOpen = false}
    on:blur={() => textOpen = false}
    transition:slide={{ duration: 650 }}>
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 58.17 114.28">
      <path
        d="M267,395.65v14.4H256.11v12.83c0,13.13-1.92,18.38-10.46,18.38-9,0-10.28-5.25-10.28-18.53V369.07h-5.73v-25.2H216.56v86.36q0,13.08,7.76,20.5t21.33,7.42q13.47,0,21.28-7.42t7.8-20.5V395.65Zm-45.21,29.8h-2.6v-2.59h2.6Zm0-20.78h-2.6v-2.6h2.6Zm0-10.39h-2.6v-2.6h2.6Zm0-15.58h-2.6v-2.6h2.6Zm0-5.2h-2.6v-2.6h2.6Zm0-5.2h-2.6v-2.59h2.6Zm0-10.46h-2.6v-2.6h2.6Zm0-7.83v2.6h-2.6v-2.7h2.6ZM227,425.45h-2.59v-2.59H227Zm0-5.19h-2.59v-2.6H227Zm0-20.78h-2.59v-2.6H227Zm0-15.59h-2.59v-2.6H227Zm0-10.39h-2.59v-2.6H227Zm0-10.43h-2.59v-2.6H227Zm0-5.23h-2.59v-2.6H227Zm5.29,72.79h-2.6V428h2.6Zm0-15.57h-2.6v-2.59h2.6Zm0-5.19h-2.6v-2.6h2.6Zm0-10.39h-2.6v-2.6h2.6Zm0-5.2h-2.6v-2.6h2.6Zm0-5.19h-2.6v-2.6h2.6Zm29.45,41.54h-2.6V428h2.6Zm0-5.18h-2.6v-2.59h2.6Zm0-10.39h-2.6v-2.59h2.6Zm5.28,5.2h-2.59v-2.6H267Zm5.2-5.2h-2.6v-2.59h2.6Zm0-5.19h-2.6v-2.6h2.6Zm0-5.2h-2.6v-2.6h2.6Z"
        transform="translate(-216.56 -343.87)" />
    </svg>
    {#if textOpen}
    <div class="overflow-hidden h-full" transition:fly={{x: -20, opacity: 0, easing: cubicInOut}} >
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 121.39 124.11" preserveAspectRatio="true" class="h-full w-auto">
        <path
          d="M21.65,50V9.83h3v3.51h.74a5,5,0,0,1,1.8-2.79,5.55,5.55,0,0,1,3.18-.79h1.9v2.57H30.4a6.14,6.14,0,0,0-3.86,1,6.06,6.06,0,0,0-1.89,3.39V50Z" />
        <path
          d="M40.37,50.36A5.16,5.16,0,0,1,36,48.52a9.45,9.45,0,0,1-1.66-5.22q0-.9-.06-1.77a17.41,17.41,0,0,1,1.37-7.69,11.71,11.71,0,0,1,4.48-4.75C41,28.51,42,27.94,43,27.37s2-1.1,3-1.59V16.42A5.19,5.19,0,0,0,45.08,13,3.93,3.93,0,0,0,42,12a4.37,4.37,0,0,0-3,.9c-.67.61-1,1.77-1.1,3.48,0,.85-.07,1.91-.07,3.18s0,2.44.07,3.51h-3c0-1-.08-2.13-.1-3.31s0-2.24,0-3.18c.08-2.54.69-4.37,1.8-5.48S39.48,9.47,42,9.47s4.38.58,5.38,1.75,1.51,3.07,1.51,5.71V50h-3V46.55h-.64a6.5,6.5,0,0,1-1.74,2.77A4.49,4.49,0,0,1,40.37,50.36Zm.77-2.51q3.48,0,4.82-4.18v-15c-.76.36-1.55.78-2.38,1.26a27.29,27.29,0,0,0-2.91,2,7.5,7.5,0,0,0-2.6,3.5,16,16,0,0,0-.74,4.39v1.51a16.43,16.43,0,0,0,.07,1.84,6,6,0,0,0,1.13,3.49,3.18,3.18,0,0,0,2.61,1.19Z" />
        <path d="M56.49,50V9.83h3V50Zm.34-42.81L61.07,0h2.51L59.27,7.15Z" />
        <path d="M64.59,50V48l11-35.58-10.74.13V10L79,9.86v2.07L67.9,47.48H78.5V50Z" />
        <path
          d="M90.5,50.36q-3.94,0-5.65-1.67c-1.14-1.12-1.75-3-1.84-5.52Q82.88,37,82.88,30T83,16.68c.09-2.58.72-4.44,1.89-5.56s3-1.69,5.6-1.69,4.23.56,5.34,1.67,1.72,2.94,1.85,5.48c0,1.12,0,2.91.09,5.39s0,5.36-.15,8.66H86c0,1.94,0,3.94.05,6s.06,4.31.08,6.74a4.74,4.74,0,0,0,1,3.5,4.8,4.8,0,0,0,3.3.92,4.52,4.52,0,0,0,3.19-.92,5.06,5.06,0,0,0,1.05-3.5c0-1.72.06-4.08,0-6.75h3c.06,1.2.1,2.37.1,3.49v3.06c-.13,2.57-.72,4.4-1.75,5.52S93.09,50.36,90.5,50.36ZM86,28.09h8.76c0-2.43.06-4.73.06-6.92s0-3.78-.1-4.79A5.27,5.27,0,0,0,93.6,13a4.12,4.12,0,0,0-3.1-1,4.59,4.59,0,0,0-3.34,1,4.84,4.84,0,0,0-1.07,3.37q0,3.32-.08,6.16C86,24.43,86,26.28,86,28.09Z" />
        <path
          d="M110.27,50.36c-2.54,0-4.3-.56-5.3-1.67s-1.52-3-1.59-5.52V40.11c0-1.12,0-2.28.1-3.46h2.78c-.05,1.34-.06,2.56-.05,3.68s0,2.13,0,3c.05,1.74.39,2.91,1,3.51a4.28,4.28,0,0,0,3.12.91,4.75,4.75,0,0,0,3.3-.91c.63-.6,1-1.77,1-3.51,0-1,.07-1.94.08-2.81s0-1.75,0-2.64a13.53,13.53,0,0,0-.64-4.33,3.74,3.74,0,0,0-2.44-2.12l-2.74-1a9.12,9.12,0,0,1-3.26-1.88A6,6,0,0,1,104,25.63a23.91,23.91,0,0,1-.57-4.77V18.72a19.6,19.6,0,0,1,.08-2.11c0-2.58.57-4.44,1.57-5.56s2.82-1.69,5.45-1.69,4.31.55,5.31,1.65,1.52,3,1.58,5.54v3c0,1.1,0,2.26-.06,3.46h-2.88c.07-1.25.1-2.45.08-3.61s0-2.18,0-3.08a5.66,5.66,0,0,0-.9-3.49,5.75,5.75,0,0,0-6.24,0,5.74,5.74,0,0,0-.92,3.49c0,.85,0,1.59-.07,2.23s0,1.35,0,2.15a23.84,23.84,0,0,0,.52,4.54,3.52,3.52,0,0,0,2.49,2.45l2.71.91a7.6,7.6,0,0,1,4.18,3c.89,1.36,1.34,3.43,1.34,6.19v2.69c0,1,0,1.88-.08,2.73-.11,2.52-.69,4.33-1.72,5.45S112.86,50.36,110.27,50.36Z" />
        <path
          d="M6.82,101.7V61.57h3v3.51h.74a5,5,0,0,1,1.81-2.79,5.52,5.52,0,0,1,3.17-.79h1.9v2.58H15.57a6.15,6.15,0,0,0-3.87,1,6.06,6.06,0,0,0-1.89,3.39v33.18Z" />
        <path
          d="M30.8,102.1a5.46,5.46,0,0,1-3.33-.92,7.39,7.39,0,0,1-2.12-2.86h-.64v3.38h-3V48.19h3V65h.77a7.19,7.19,0,0,1,2.12-2.88,5.53,5.53,0,0,1,3.33-.9,5.19,5.19,0,0,1,4.25,1.63c.89,1.1,1.37,2.91,1.44,5.46q.23,14.1,0,26.72c-.07,2.54-.58,4.36-1.51,5.46A5.29,5.29,0,0,1,30.8,102.1Zm-.74-2.51a3.1,3.1,0,0,0,2.64-1,5.85,5.85,0,0,0,.87-3.41q.16-6.45.17-13t-.17-14a5.84,5.84,0,0,0-.87-3.43,3.15,3.15,0,0,0-2.64-1,5.19,5.19,0,0,0-3.34,1,6.62,6.62,0,0,0-2,3.34V95.25a6.55,6.55,0,0,0,2,3.34A5.12,5.12,0,0,0,30.06,99.59Z" />
        <path
          d="M48.66,102.1a5.16,5.16,0,0,1-4.39-1.84A9.46,9.46,0,0,1,42.62,95c0-.6,0-1.19-.07-1.77s0-1.16,0-1.74a16.72,16.72,0,0,1,1.37-6,11.71,11.71,0,0,1,4.48-4.75c.89-.58,1.83-1.15,2.83-1.72s2-1.1,3-1.59V68.15a5.18,5.18,0,0,0-.89-3.37,3.93,3.93,0,0,0-3.12-1,4.37,4.37,0,0,0-3,.9c-.67.61-1,1.76-1.1,3.48,0,.85-.07,1.91-.07,3.18s0,2.44.07,3.51H43.17c0-1-.07-2.13-.1-3.31s0-2.24,0-3.18q.13-3.81,1.8-5.48c1.12-1.12,2.92-1.67,5.42-1.67s4.38.58,5.38,1.75,1.6,3,1.6,5.66V101.7h-3V98.29h-.64a6.64,6.64,0,0,1-1.73,2.77A4.6,4.6,0,0,1,48.66,102.1Zm.76-2.51q3.48,0,4.82-4.18v-15q-1.14.54-2.37,1.26a26.31,26.31,0,0,0-2.91,2,7.49,7.49,0,0,0-2.61,3.49,16,16,0,0,0-.74,4.4V93a16.43,16.43,0,0,0,.07,1.84,5.92,5.92,0,0,0,1.14,3.49,3.22,3.22,0,0,0,2.6,1.24Z" />
        <path
          d="M64.77,101.7V61.57h3V65h.77a7.1,7.1,0,0,1,2.14-2.8,6.31,6.31,0,0,1,7.61.65c.92,1.1,1.39,2.91,1.42,5.46v33.44H76.71V68.12a5.54,5.54,0,0,0-.87-3.43,3.22,3.22,0,0,0-2.67-1,5.08,5.08,0,0,0-3.26,1.14,6.44,6.44,0,0,0-2.09,3.24v33.65Z" />
        <path
          d="M92.16,102.1a5.16,5.16,0,0,1-4.36-1.84A9.56,9.56,0,0,1,86.14,95q0-.9-.06-1.77a17.41,17.41,0,0,1,1.37-7.69,11.71,11.71,0,0,1,4.48-4.75c.89-.58,1.83-1.15,2.83-1.72s2-1.1,3-1.59V68.15a5.18,5.18,0,0,0-.89-3.37,3.93,3.93,0,0,0-3.12-1,4.37,4.37,0,0,0-3,.9c-.67.61-1,1.76-1.1,3.48-.05.85-.07,1.91-.07,3.18s0,2.44.07,3.51h-3c0-1-.08-2.13-.1-3.31s0-2.24,0-3.18c.08-2.54.69-4.37,1.8-5.48s2.92-1.67,5.42-1.67,4.38.58,5.38,1.75,1.51,3.07,1.51,5.7v33.08h-3V98.33h-.64a6.5,6.5,0,0,1-1.74,2.77A4.55,4.55,0,0,1,92.16,102.1Zm.77-2.51q3.48,0,4.82-4.18v-15c-.76.36-1.55.78-2.38,1.26a27.29,27.29,0,0,0-2.91,2,7.59,7.59,0,0,0-2.6,3.49,16,16,0,0,0-.74,4.4V93a16.43,16.43,0,0,0,.07,1.84,6,6,0,0,0,1.13,3.49A3.24,3.24,0,0,0,92.93,99.59Z" />
        <path
          d="M114.07,102.1q-3.81,0-5.3-1.67c-1-1.11-1.52-2.94-1.59-5.47V91.9c0-1.13,0-2.28.1-3.46h2.77c0,1.34-.06,2.56,0,3.68s0,2.13,0,3a5.06,5.06,0,0,0,1,3.51,4.31,4.31,0,0,0,3.13.9,4.73,4.73,0,0,0,3.29-.9c.67-.6,1-1.77,1-3.51,0-1,.07-1.94.09-2.81s0-1.75,0-2.64a13.53,13.53,0,0,0-.64-4.33,3.78,3.78,0,0,0-2.44-2.13l-2.74-1a9.24,9.24,0,0,1-3.26-1.87,5.93,5.93,0,0,1-1.62-2.92,23.91,23.91,0,0,1-.57-4.77V70.51a17.43,17.43,0,0,1,.09-2.11q.06-3.87,1.57-5.57c1-1.13,2.82-1.69,5.45-1.68s4.31.55,5.3,1.65,1.52,3,1.59,5.54v3c0,1.1,0,2.26-.07,3.46h-2.85c.06-1.25.09-2.45.08-3.61s0-2.19,0-3.08a5.53,5.53,0,0,0-.9-3.49,4.12,4.12,0,0,0-3.11-.92c-1.54,0-2.58.3-3.13.92a5.83,5.83,0,0,0-.92,3.49c0,.85,0,1.59-.06,2.23s0,1.35,0,2.15a23,23,0,0,0,.51,4.53,3.49,3.49,0,0,0,2.5,2.46l2.7.91a7.55,7.55,0,0,1,4.18,3c.9,1.36,1.34,3.42,1.34,6.19v2.69a26.47,26.47,0,0,1-.09,2.73c-.11,2.52-.68,4.33-1.72,5.45S116.7,102.1,114.07,102.1Z" />
      </svg>
    </div>
    {/if}
  </a>
{/if}

<style lang="postcss">
  path {
    @apply fill-current;
  }
</style>