<script lang="ts">
  import { cubicInOut } from 'svelte/easing'

  export let refresh = ""

  const slide = (node: HTMLElement, { out = 1, duration = 0 }) => {
		return {
			duration,
      out,
			css: (t: number) => {
        const eased = cubicInOut(t)
        return `transform: translateX(${out * (eased * 100 - 100)}%)`
      }
		};
	}
</script>

{#key refresh}
  <div
    in:slide="{{ duration: 750 }}"
    out:slide="{{ out: -1, duration: 750 }}"
    class="absolute top-0 left-0 w-full h-full">
    <slot />
  </div>
{/key}