<script lang="ts">
  import Bubble from "./Bubble.svelte"
  import Icons from "./Icons.svelte"
  import { createEventDispatcher } from 'svelte'

  const emit = createEventDispatcher()

  export let notAllowed = false
  export let restartScreen = false
</script>


<div class="flex justify-around w-full lg:w-1/2">
  {#if restartScreen}
    <Bubble on:activated={() => emit('restart')}>
      <Icons type="restart" addClass="w-12" />
    </Bubble>
  {/if}
  <Bubble on:activated={() => emit('play')}>
    {#if !notAllowed && !restartScreen}
      <Icons type="loading" addClass="w-12 ml-1 p-2" />
    {:else}
      <Icons type="play" addClass="w-12 ml-1" />
    {/if}
  </Bubble>
</div>