<script lang="ts">
	import { createEventDispatcher } from 'svelte'
	import { fade } from 'svelte/transition'
  import Icons from '../components/Icons.svelte'

	const emit = createEventDispatcher()
	let dragBar: HTMLDivElement

	export let paused: boolean
	export let currentTime: number
	export let duration: number
  export let updated = true
  export let currentQuestion = ''

	let displayRemainingTime = false
	let dragging = false
	let draggingTime = 0
	let draggingBarSize = 0
	let ended = false

	$: barSize = barLimits(dragging || !updated ? draggingTime / duration * 100 : currentTime / duration * 100)
	$: displayTime = displayRemainingTime ? timeToSeconds(duration - currentTime) : timeToSeconds(currentTime)

  $: if(currentTime >= duration) {
		emit('ended')
		ended = true
	}

	function activateProgressBar (event: MouseEvent) {
		dragging = true
		changePlayTime(event)
	}

	function dragProgressBar (event: MouseEvent) {
		if(dragging) changePlayTime (event)
	}

	function changePlayTime (event: MouseEvent) {
		const newSize = (event.clientX - dragBar.getBoundingClientRect().left) * 100 / dragBar.clientWidth
		draggingBarSize = barLimits(newSize)
		draggingTime = draggingBarSize / 100 * duration
	}

	function releaseProgressBar () {
		if (dragging) {
			dragging = false
			if(draggingTime < duration) ended = false
			emit('seekTo', draggingTime)
		}
	}

	function barLimits(newSize: number): number {
		return newSize < 0 ? 0 : newSize > 100 ? 100 : newSize
	}

	function timeToSeconds (time: number): string {
    const hours = Math.floor(time / 3600);
    const minutes = Math.floor(time % 3600 / 60);
		const seconds = Math.floor(time % 3600 % 60);
		return `${hours > 0 ? hours + ':' : ''}${minutes >= 0 ? minutes < 10 ? '0' + minutes : minutes : 0}:${seconds >= 10 ? seconds : seconds >= 0 ? '0' + seconds : '00'}`
	}

	const togglePlay = () => {
		if(ended) {
			ended = false
			emit('seekTo', 0)
		} else { 
			emit('togglePlay')
		}
	} 
</script>

<svelte:window on:mousemove={dragProgressBar} on:mouseup={releaseProgressBar} />

<div
	class="absolute bottom-0 w-full p-3 pr-4 lg:pl-9 lg:pr-10 lg:pb-8 text-base z-50">
	<div class="relative rounded-full bg-current h-8">
    <div class="control-bar transform translate-x-1 -translate-y-2">
      <button class="hover:text-stone-400 ml-2 mr-2 w-5" on:click={togglePlay}>
        <Icons type={paused ? ended ? 'restart' : 'play' : 'pause'} />
      </button>

      <div
        bind:this={dragBar}
        class="relative flex items-center flex-grow h-1 bg-stone-400 rounded-full cursor-pointer"
        on:mousedown={activateProgressBar}>        
				<div class="absolute h-1 bg-current rounded-full shadow-inner flex items-center" style={'width: ' + barSize + '%'}>
					<div class="bullet right-0 z-20 bg-current">
            {#if dragging}
            <div class="absolute bottom-full left-1/2 py-4" transition:fade={{duration: 150}}>
              <div class="px-3 transform -translate-x-1/2 bg-current rounded-full">
                <span class="text-white">{timeToSeconds(draggingTime)}</span>
              </div>
            </div>
            {/if}
          </div>
        </div>

      </div>

      <button class="mx-2 select-none text-xs w-10" on:click={() => displayRemainingTime = !displayRemainingTime}>
        <span>
          {displayTime}
        </span>
      </button>

    </div>
	</div>
</div>

<style lang="postcss">
	.control-bar {
		@apply absolute flex items-center bg-white p-1 transition duration-500 ease-in-out z-50 w-full h-full rounded-full;
	}

	.bullet {
		@apply absolute w-3 h-3 ring-2 ring-current rounded-full shadow cursor-pointer;

		transform: translateX(50%);
	}
	</style>

