<script lang="ts">
  import type { Section } from '../types/dataTypes'
  import { createEventDispatcher } from 'svelte'
  import { cubicInOut } from 'svelte/easing'
  import { fly } from 'svelte/transition'
  import Bubble from './Bubble.svelte'

  const emit = createEventDispatcher()

  export let questions: Section[]
  export let questionList: Section[]
  export let viewedQuestions: number[]
  export let showing = false

  let showAll = false

  const update = (id: number) => {
    emit('updateSection', id)
    window.setTimeout(() => showAll = false, 500)
  }
</script>

{#if showAll}
  <div
    in:fly={{y: 40, opacity: 0, delay: 500, easing: cubicInOut}}
    out:fly={{y: 40, opacity: 0, easing: cubicInOut}}
    class="absolute top-0 w-full h-full flex justify-center overflow-y-auto">
    {viewedQuestions}
    <div class="max-w-sm pt-52 flex flex-col">
      {#each questionList as question, i}
        {#if showAll}
          <div
            class="mx-auto"
            class:opacity-50="{viewedQuestions.includes(i+1)}"
            in:fly={{y: -40, x: (i % 2 ? 1 : -1) * 40, opacity: 0, delay: 500 + i * 100, easing: cubicInOut}}
            out:fly={{y: 40, opacity: 0, easing: cubicInOut}} >
            <Bubble on:activated={() => update(question.id)}>
              {question.title}
            </Bubble>
          </div>
        {/if}
      {/each}
      <p class="pb-44"> </p>
    </div>
  </div>
{:else}
  <div
    in:fly={{y: 40, opacity: 0, easing: cubicInOut}}
    out:fly={{y: 40, opacity: 0, delay: 500, easing: cubicInOut}}
    class="absolute top-0 w-full max-w-sm h-full flex flex-col items-center justify-center py-40">
    {#each questions as question, i}
      {#if showing}
        <div
          class="mx-auto"
          transition:fly={{y: -40, x: (i % 2 ? 1 : -1) * 40, opacity: 0, delay: (questions.length - i) * 100, easing: cubicInOut}} >
          <Bubble on:activated={() => emit('updateSection', question.id)}>
            {question.title}
          </Bubble>
        </div>
      {/if}
    {/each}
    <div class="absolute w-full bottom-16 flex justify-center text-stone-400 z-40 lg:bottom-24 ">
      <button
        on:click={() => showAll = true}
        class="mx-6 cursor-pointer hover:text-stone-200">outras perguntas</button>
    </div>
  </div>
{/if}