@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Assistant";
  src: local("Assistant"), url(/src/assets/fonts/Assistant-Regular.ttf) format("truetype");}

@font-face {
  font-family: "Patterson Southern";
  src: local("Patterson Southern"), url(/src/assets/fonts/Patterson-Southern.ttf) format("truetype");}


:root {
  font-family: 'Assistant', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* CSS Reset */
*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html, body, #app {
  width:100%;
  height: 100%;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  margin: 0;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}
#root, #__next {
  isolation: isolate;
}
h1 {
  font-family: 'Patterson Southern';
}
